## Phase 1.06 - 1.07

# SQL and Relational Databases

## What is a Database?
- In general, databases store sets of data that can be queried for use in other applications. 
- A database management system supports the development, administration and use of database platforms.


### What is a Relational Database? 
- A *relational database management system* (**RDBMS**) is a type of DBMS with a row-based table structure that connects related data elements and includes functions that maintain the security, accuracy, integrity and consistency of the data.
- The most basic **RDBMS** functions are related to *create, read, update and delete* operations, collectively known as **CRUD**.

## Using SQL in Python


We're going to play around with this Pokemon database!

<img src='https://raw.githubusercontent.com/yishuen/studygroups-070620pt/master/mod-1/images/pokemon_db.png'>

### What is SQL?

- **SQL** (usually pronounced like the word “sequel”) stands for Structured Query Language.
- A programming language used to communicate with data stored in a **RDBMS** (relational database management system).
- SQL syntax is similar to the English language, which makes it relatively easy to write, read, and interpret.

In [ ]:
import pandas as pd
import sqlite3

### Schema
A relational database schema helps you to organize and understand the structure of a database by showing how all of the tables are related to each other.
<img src='https://github.com/yishuen/studygroups-070620pt/blob/master/mod-1/images/employees-schema.png?raw=1'>

### Relationships

The logical association among entities is called relationship. Relationships are mapped between entities in various ways. 

**Relationship Mappings**

- one to one
- one to many
- many to many

In [ ]:
# Connecting to the database.
conn = sqlite3.connect('data/pokemon.db')
conn

In [ ]:
# Look at the cursor.
cur = conn.cursor()
cur

In [ ]:
# Executing a query.
cur.execute('SELECT * FROM pokemon')

In [ ]:
# Showing the description.
cur.description

In [ ]:
# Get column names - longhand.
my_lst = []
for x in cur.description:
    my_lst.append(x[0])
my_lst

In [ ]:
# Get column names - shorthand.
[x[0] for x in cur.description]

In [ ]:
# Return the query.
cur.fetchall()

In [ ]:
# Try to return the query again!
cur.fetchall()

### Parts of a SQL Query
* `SELECT ... FROM ...`: Which columns from which table
* `WHERE`: Conditions to filter your query by
* `JOIN`: Put tables together
* `GROUP BY`: Group and aggregate data
* `HAVING`: Filtering after a `GROUP BY`
* `ORDER BY`: How to sort the table
* `LIMIT`: How many rows to query

`read_sql()` in Pandas!
>```python
> pd.read_sql('YOUR QUERY HERE', conn)
>```

In [ ]:
pd.read_sql('SELECT * FROM pokemon', conn)

#### Q1

In [ ]:
# Select all pokemon from the pokemon table.
q1 = """

"""

pd.read_sql(q1, conn)

#### Q2

In [ ]:
# Select all the rows from pokemon_types where the type_id is 3.
q2 = """

"""

pd.read_sql(q2, conn)

#### Q3

In [ ]:
# Select the rows from pokemon_types where the associated type is "water".
q3 = """

"""

pd.read_sql(q3, conn)

#### Q4

In [ ]:
# Find the average weight for each type.
### Order the results from highest weight to lowest weight. 
### Display the type name next to the average weight.
q4 = """

"""

pd.read_sql(q4, conn)

#### Q5

In [ ]:
# Find the names and ids the pokemon that have more than 1 type.
q5 = """

"""

pd.read_sql(q5, conn)

#### Q6

In [ ]:
# Find the id of the type that has the most pokemon.
### Display type_id next to the number of pokemon having that type.
q6 = """

"""

pd.read_sql(q6, conn)